  <%= form_tag confirmation_path, method: :post do %>
<section class="px-6 wrapper  flex flex-col"  style="height: 80vh">
  <!-- CONTENT -->
  <div class="flex-1 overflow-y-auto pt-3">

    <div class="py-4">
      <input type="text" placeholder="Nom"
      name="first_name"
        class="w-full px-2 py-1 border border-gray-300 rounded focus:border-gray-300 focus:ring-gray-300">
    </div>

    <div class="py-4">
      <input type="text" placeholder="Prenom"
      name="last_name"
        class="w-full px-2 py-1 border border-gray-300 rounded focus:border-gray-300 focus:ring-gray-300">
    </div>

<div class="py-4">
  <input type="tel" 
    name="phone"
    placeholder="Téléphone"
    class="w-full px-2 py-1 border border-gray-300 rounded focus:border-gray-300 focus:ring-gray-300">
</div>

    <div class="py-4">
 <textarea placeholder="Addresse"
 name="address"
  rows="4"
  class="w-full px-2 py-1 border border-gray-300 rounded focus:border-gray-300 focus:ring-gray-300 resize-none"></textarea>   </div>

  </div>


<div class="mt-12 flex justify-end py-4">
  <button type="submit" class="button-primary w-full bg-yellow">
    Confirmer La Commande
  </button>
</div>

</section>
<% end %>